<label for="date">Date</label>
<input id="date" type="text" name="date" /><br />
<label for="grade">Grade</label>
<input id="grade" type="text" name="grade" /><br />
<label for="score">Score</label>
<input id="score" type="text" name="score" /><br />