<header class="header">
  <a id="header-anchor" href="/">
    <p class="backtomain">Main Page</p>
    <h3 class="student-name">A RESTful Web Service with Extra Handlebars Visual
      Interface</h3>
    <span class="student-id">
      Username: guest &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Password: testme
    </span>
  </a>
</header>