<header class="header">
  <a id="header-anchor" href="/">
    <h3 class="student-name">Web Programming Group Assignment</h3>
    <span class="student-id">Tatiana Trofimchuk
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Muhammed Kocabas</span>
  </a>
</header>