<header class="header">
  <a id="header-anchor" href="/">
    <p class="backtomain">Main Page</p>
    <h3 class="student-name">A MERN Stack Project Sample</h3>
    <span class="student-id">
      Username: student &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Password: humber
    </span>
  </a>
</header>