<html>
  <body>
    <form
  style="align-self:center;flex-direction:column; display: flex;justify-content:center-evenly;"
  method="POST"
  enctype="x-www-form-urlencoded"
  action="/login"
>

  <div
    style="margin:1rem ;display:flex; flex-direction:row; justify-content:space-around"
  >
    <div>
      <label for="user">Username</label>
      <input
        id="user"
        type="string"
        name="user"
        value=""
        required
      /><br />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        value=""
        required
      /><br />
    </div>
  <input type="submit" value="Login" />
</form>
</body>
</html>
