<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>
    <script>
        function extraFields () {
        document.getElementById("extra-fields-container").innerHTML+=`<label for="date">Date</label><input id="date" class="date" type="datetime-local" onfocus="dttonfocus()" 
        name="date" /> <br /><label for="grade">Grade</label><input id="grade" type="text" name="grade" /><br /><label for="score">Score</label>
        <input id="score" type="text" name="score" /><br />`;
  };

        
        function dttonfocus () {
        var dtt = document.querySelectorAll(".date");
        dtt.forEach(dtts =>{
          if (dtts.type=='text'){
          dtts.type = 'datetime-local';
          dtts.focus();}
        })
        
  }



    </script>


    {{>header}}
    <div class="container">
      {{{body}}}
    </div>
    {{>footer}}
  </body>

</html>